<div class="container">
    <div class="p-3 mb-2 bg-dark text-white">INGRESO DE CURSO:</div>
<br>
<form class="form-horizontal" role="form">
    <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">Nombre del Curso</label>
        <div class="col-lg-10">
              <input type="text" class="form-control" id="input_name" placeholder="Ejem. Curso">
        </div>
    </div>


     <div class="form-group">
             <label for="input_name" class="col-lg-2 control-label">Nivel</label>
        <div class="col-lg-10">
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Ingrese Nivel">
            <datalist id="datalistOptions">
                <option value="Inducciòn">
                <option value="Intermedio">
                <option value="Avanzado">
                <option value="Conversación">
                <option value="Redacción">  
        </datalist>
        </div>
    </div>

    <div class="form-group">
        <label for="input_name" class="col-lg-2 control-label">Tipo</label>
         <div class="col-lg-10">
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Ingrese Tipo">
        <datalist id="datalistOptions">
                <option value="Niños">
                <option value="Jóvenes">
                <option value="Adultos">
                <option value="Negocios">
                <option value="Preparacion TOEFL">  
        </datalist>
        </div>
    </div>

    <div class="form-group">
            <label for="input_name" class="col-lg-2 control-label">Costto</label>
        <div class="col-lg-10">
              <input type="number" class="form-control" id="input_costo" placeholder="Ingrese costo">
        </div>
    </div>

    <div class="form-group">
        <label for="input_name" class="col-lg-2 control-label">Sede</label>
         <div class="col-lg-10">
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Selecione Sede">
        <datalist id="datalistOptions">
                <option value="Miraflores">
                <option value="San Isidro">
        </datalist>
        </div>
    </div>

    <div class="form-group">
        <label for="input_name" class="col-lg-2 control-label">Profesor</label>
         <div class="col-lg-10">
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Selecione Profesor">
        <datalist id="datalistOptions">
                <option value="Profesor 1">
                <option value="Profesor 2">
                <option value="Profesor 3">
                <option value="Profesor 4">
                <option value="Profesor 5">  
        </datalist>
        </div>
    </div>

    <div class="form-group">
        <label for="input_name" class="col-lg-2 control-label">Modalidad</label>
         <div class="col-lg-10">
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Modalidad">
        <datalist id="datalistOptions">
                <option value="Virtual">
                <option value="Presencial">
        </datalist>
        </div>
    </div>
    <div class="form-group">
        <label for="input_name" class="col-lg-2 control-label">Fecha Inicio</label>
        <div class="col-lg-10">
          <input type="date" class="form-control" id="input_inicio" placeholder="Fecha inicio">
        </div>
    </div>
    <div class="form-group">
        <label for="input_name" class="col-lg-2 control-label">Fecha Fin</label>
        <div class="col-lg-10">
          <input type="date" class="form-control" id="input_fin" placeholder="Fecha fin">
        </div>
    </div>

    <div class="form-group">
        <label for="input_name" class="col-lg-2 control-label">Profesor</label>
         <div class="col-lg-10">
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Selecione Profesor">
        <datalist id="datalistOptions">
                <option value="Horario 1">
                <option value="Horario 2">
                <option value="Horario 3">
                <option value="Horario 4">
                <option value="Horario 5">  
        </datalist>
        </div>
    </div>
        <div class="form-group">
            <label for="input_name" class="col-lg-2 control-label">Vacantes totales</label>
        <div class="col-lg-10">
            <input type="number" class="form-control" id="input_costo" placeholder="Ingrese vacantes">
        </div>
    </div>
    <div class="form-group">
            <label for="input_name" class="col-lg-2 control-label">Numero minimo de alumnos</label>
        <div class="col-lg-10">
              <input type="number" class="form-control" id="input_costo" placeholder="Ingrese minimo alumnos">
        </div>
    </div>

    
    <div class="form-group">
    	<label for="depa" class="col-lg-2 control-label">Adjuntar Imagen </label>
    	<br>
    	<div class="col-lg-10">
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
     </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Guardar</button>
    </div>
  </div>
</form>

</div>